<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Budget Tracker</title>
<link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<header>
<h1 class="title">Budget Tracker</h1>
</header>
<main>
<p>You have successfully logged out.</p>
<a href="/">Back to home</a>
</main>
<footer>
<p>Copyright &copy; 2023</p>
</footer>
</body>
</html>
